.position-sticky {
  top: 5px;
  z-index: 2001;
}
.avator {
  width: 40px;
  height: 40px;
}
.user-img {
  margin-right: -20px;
}
.item {
  height: 200px;
}

.product-container {
  margin-top: -100px;
}

.personal-info {
  outline: none;
  border-style: none;
  width: 90% !important;
}

.edit-profile-img {
  width: 100px;
  height: 100px;
  object-position: center;
  object-fit: cover;
}

.upload {
  display: none;
}

.-label {
  position: relative;
}
.feather-camera {
  position: absolute;
  top: 20px;
  left: 50px;
}

.full-screen-mode {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2030;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: linear-gradient(to bottom, #c460d1 0%, #a56cc1 100%);
  border: blueviolet;
}

.right-menu {
  position: sticky;
  top: 10px;
}

.fcard {
  transition: .5s;
}

.fcard:hover {
  transform: translateY(-5px);
  box-shadow: 0.5 1rem 2rem rgb(0 0 0 / 25%) !important;
}

@media (max-width: 768px) {
  .card-display {
    margin-top: 150px !important;
  }
  .sidebar {
    width: 300px;
    position: fixed;
    z-index: 2031;
    background-color: white;
  }
}
